body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: rgba(220,220,220,1);
}

ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 100px;
  height: 100px
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-board{
  text-align: center;
  margin-left: 600px;
  margin-right:579px; 
  margin-bottom: 40px;
  box-shadow: 1px 1px 5px #888888;
  border-radius: 20px;
}

.game-info {
  margin-left: 20px;
  font-size: 40px;
  color: #fff;
  text-align:center;
  box-shadow: 5px 10px 18px #888888;
}
h1{
  text-align: center;
}
.header{
  width: 100%;
  background: #fff;
  box-shadow: 3px 5px 8px #888888;
}
button{
  background: #fff;
  border: 1 1 bold;
  border-radius: 20px;
}
